:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col {
  display: flex;
  flex-flow: column nowrap;
}

.frame {
  border: 1px solid purple;
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
}

.frame>h4 {
  color: purple;
  position: absolute;
  top: -2rem;
  right: 1rem;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}